DOMAIN_OR_HOST=localhost

PUBLIC_USER_NAME=public
PUBLIC_USER_PASSWORD_HASH=CHANGE_ME
PUBLIC_WORKSPACE_PASSWORD=CHANGE_ME
PUBLIC_DESKTOP_USER_NAME=public-desktop
PUBLIC_DESKTOP_USER_PASSWORD_HASH=CHANGE_ME

INTERNAL_USER_NAME=internal
INTERNAL_USER_PASSWORD_HASH=CHANGE_ME
INTERNAL_WORKSPACE_PASSWORD=CHANGE_ME
INTERNAL_DESKTOP_USER_NAME=internal-desktop
INTERNAL_DESKTOP_USER_PASSWORD_HASH=CHANGE_ME
