DOMAIN_OR_HOST=localhost
TIMEZONE=Europe/Berlin
ADMIN_UI_IMAGE_TAG=latest
MWC_EDGE_NETWORK=mobileworkspace_edge
MWC_PUBLIC_NETWORK=mobileworkspace_public_net
MWC_INTERNAL_NETWORK=mobileworkspace_internal_net

ADMIN_USER_NAME=admin
ADMIN_USER_PASSWORD_HASH=CHANGE_ME
